<div class="login-container">
    <h2>Iniciar sesión</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Introduce tu correo">
            <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <ng-container *ngIf="email?.errors?.['required']">El correo electrónico es obligatorio.</ng-container>
                <ng-container *ngIf="email?.errors?.['email']">Introduce un correo electrónico válido.</ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Introduce tu contraseña">
            <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <ng-container *ngIf="password?.errors?.['required']">La contraseña es obligatoria.</ng-container>
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
    </form>
</div>